<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-09-04T02:10:18Z</date>
	<key>WorkspacePath</key>
	<string>/Users/guowei/Desktop/安锐达通用版/安锐达.xcodeproj</string>
</dict>
</plist>
